.faqContainer {
    margin-top: 3rem;
}

.faqQuestionContainer {
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 50%;
}
.faqQuestionContainer:last-child {
    margin: 0 !important;
}

.faqColumn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.faqItem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
    width: 100%;
    background: var(--orange-95);
    border: 1px solid var(--gray-15);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}


.faqItem.active {
    background: var(--white-00);

    .faqQuestion {
        border-bottom: 1px solid var(--gray-15);
        padding-bottom: .75rem;
        margin-bottom: .75rem;
    }
}

.faqAnswer {
    color: var(--gray-20);
    width: 100%;
}

.faqIcon {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--gray-15);
    border-radius: .25rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    background: var(--orange-95);

    img {
        object-fit: contain;
    }
}

@media(max-width:768px) {
    .faqQuestionContainer{
        width: 100% !important;
    }
}