.cardContainer {
    width: 30%;
    position: relative;
    height: 200px;
    flex: auto;
}

.cardIcon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -13%;
    background: var(--orange-90);
    border: 1px solid var(--gray-15);
    border-radius: .5rem;
    padding: .75rem;
    left: 5%;
}

.cardTitle {
    color: var(--gray-10);
    margin-top: 1rem;
    display: inline-flex;
    font-family: 'Raleway', sans-serif;

}

.cardDescription {
    color: var(--gray-20);
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

@media(max-width:768px) {
    .cardContainer {
        min-width: 45% !important;
    }
}

@media(max-width:576px) {
    .cardContainer {
        width: 100% !important;
    }
}