:root {
    --orange-90: #FFDECC;
    --orange-95: #FFEFE5;
    --orange-97: #FFF5F0;
    --orange-80: #FFBE99;
    --orange-75: #FFAE80;
    --orange-65: #FF8D4D;
    --gray-10: #1A1A1A;
    --gray-13: #1e1e1e;
    --gray-15: #262626;
    --gray-20: #333333;
    --gray-30: #4C4C4D;
    --gray-40: #656567;
    --white-00: #ffffff;
}

* {
    box-sizing: border-box;

}

body {
    margin: 1rem 2rem;
    background-color: var(--orange-97);
    font-family: 'Outfit', sans-serif;
    color: var(--gray-15);

}

img {
    width: 100%;
    height: 100%;
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.card-main-layout {
    background-color: var(--white-00);
    border: 1px solid var(--gray-15);
    box-shadow: 3px 3px 0px 2px var(--gray-13);
    border-radius: .5rem;
    padding: 2rem;
    height: 100%;
}

.main-section-container {
    margin: 3rem 0
}

.flex-1 {
    flex: 1;
}

.w-50 {
    width: 50%;
}

.fw-bold {
    font-weight: bold;
}

.h1 {
    font-size: 2em;
}

.fs-6 {
    font-size: 1rem;
}

.fs-7 {
    font-size: .875rem;
}

.fs-8 {
    font-size: .75rem;
}

.px-3 {
    padding: 0 5rem;
}


@media(max-width:768px) {
    .px-3 {
        padding: 0 3rem;
    }
}

@media(max-width:576px) {
    .fs-6 {
        font-size: .875rem !important;
    }

    .fs-7 {
        font-size: .75rem !important;
    }

    .fs-8 {
        font-size: .7rem !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }
}


@font-face {
    font-family: 'Outfit';
    src: url('../src/assets/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}