.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.sliderContainer{
    overflow: hidden;
}

.cardsContainer {
    display: flex;
    gap: 2rem;
    transition: transform 0.5s ease;
    padding: 1rem;
}

