.numbersContainer {
    display: flex;
    margin-top: 2rem;
    background: var(--orange-95);
    padding: 1rem 2rem;
    border: 1px solid var(--gray-15);
    border-radius: .5rem;
    box-shadow: 8px 8px 0px 1px var(--orange-80);
    width: 100%;
}

.numbersItemContainer {
    margin: 0 1rem;
}

.numbersValue {
    margin: 0;
    margin-bottom: .5rem;
}

@media(max-width:576px) {
    .numbersContainer {
        flex-wrap: wrap;
    }

    .numbersItemContainer {
        width: 100%;
        border-bottom: 1px solid var(--gray-15);
        padding: 1rem 0;
    }

    .numbersItemContainer:last-child {
        border: unset !important;
    }
}